---
const year = new Date().getFullYear();
---

<footer class='site-footer'>
  <div class='container'>
    <div class='site-footer__inner'>
      <div>
        <div class='site-footer__brand'>Aimée's Recipe Book</div>
        <p class='site-footer__tagline'>Made with love.</p>
      </div>
      <nav aria-label='Footer navigation'>
        <ul class='site-footer__links'>
          <li><a href='/'>Home</a></li>
          <li><a href='/recipes'>Recipes</a></li>
          <li><a href='/categories'>Categories</a></li>
          <li><a href='/about'>About</a></li>
        </ul>
      </nav>
    </div>
    <p class='site-footer__copy'>
      &copy; {year} Aimée's Recipe Book. Enjoy.
    </p>
  </div>
</footer>
